$page-trans-time: 0.3s;
$page-trans-easing: ease-in-out;

.page-transition {
  &-enter, &-leave {
    transition: opacity $page-trans-time $page-trans-easing;
    position: absolute;
  }
  &-enter {
    opacity: 0;
    &-active {
      opacity: 1;
    }
  }
  &-leave {
    opacity: 1;
    &-active {
      opacity: 0;
    }
  }
}
