
{{#if user}}
    <script type="application/json" id="user">{{{user}}}</script>
{{/if}}
<link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.018/css/hack.min.css"/>
<main id="main"></main>
<script src="/js/vendor/vendor.min.js"></script>
<script src="/js/main.min.js"></script>
