/**
 * This file taken directly from https://github.com/sahat/hackathon-starter
 * IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 *
 * You should never commit this file to a public repository on GitHub!
 * All public code on GitHub can be searched, that means anyone can see your
 * uploaded .env file.
 *
 * I did it for your convenience using "throw away" API credentials so that
 * all features could work out of the box.
 *
 * Use environment variables below to configure a different set of API keys for production use.
 * Each hosting service (e.g. Heroku, Digital Ocean, OpenShift, Azure, Bluemix)
 * allows you to set up environment variables from the dashboard.
 *
 * Screenshot: http://bit.ly/1kJP2N4
 *
 * IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT  IMPORTANT
 */

SESSION_SECRET=Your Session Secret goes here

MAILGUN_USER=postmaster@sandbox697fcddc09814c6b83718b9fd5d4e5dc.mailgun.org
MAILGUN_PASSWORD=29eldds1uri6

MANDRILL_USER=hackathonstarterdemo
MANDRILL_PASSWORD=E1K950_ydLR4mHw12a0ldA

SENDGRID_USER=hslogin
SENDGRID_PASSWORD=hspassword00

NYT_KEY=9548be6f3a64163d23e1539f067fcabd:5:68537648

LASTFM_KEY=c8c0ea1c4a6b199b3429722512fbd17f
LASTFM_SECRET=is cb7857b8fba83f819ea46ca13681fe71

FACEBOOK_ID=156173194754359
FACEBOOK_SECRET=d2076181cee13b9e200429e7eaaa2e41
FACEBOOK_CALLBACK_URL=http://localhost:3000/auth/facebook/callback

GITHUB_ID=8546251052fa7a9d81d6
GITHUB_SECRET=8f91f4cc571940a679ba9eb576bd01bcefc03334
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback

TWITTER_KEY=tRyyESspTPwqa8AZ0cfGIBXEC
TWITTER_SECRET=q0xJv6ltvoOtaLJaNcWqEWso9c0XOqfbOHnr5SyFaQcBaJNh5g
TWITTER_CALLBACK_URL=http://localhost:3000/auth/twitter/callback

GOOGLE_ID=141780554022-adee0pmbum8qc4n7u15gvunjglasn439.apps.googleusercontent.com
GOOGLE_SECRET=pzr8wyHSNKSyBOzSubAycgfj
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

LINKEDIN_ID=77chexmowru601
LINKEDIN_SECRET=szdC8lN2s2SuMSy8
LINKEDIN_CALLBACK_URL=http://localhost:3000/auth/linkedin/callback

STEAM_KEY=D1240DEF4D41D416FD291D0075B6ED3F
STEAM_CALLBACK_URL=http://localhost:3000/auth/steam/callback

TWILIO_SID=AC6f0edc4c47becc6d0a952536fc9a6025
TWILIO_TOKEN=a67170ff7afa2df3f4c7d97cd240d0f3

CLOCKWORK_KEY=9ffb267f88df55762f74ba2f517a66dc8bedac5a

STRIPE_SKEY=sk_test_BQokikJOvBiI2HlWgH4olfQ2
STRIPE_PKEY=pk_test_6pRNASCoBOKtIshFeQd4XMUh

TUMBLR_KEY=FaXbGf5gkhswzDqSMYI42QCPYoHsu5MIDciAhTyYjehotQpJvM
TUMBLR_SECRET=QpCTs5IMMCsCImwdvFiqyGtIZwowF5o3UXonjPoNp4HVtJAL4o

FOURSQUARE_ID=2STROLSFBMZLAHG3IBA141EM2HGRF0IRIBB4KXMOGA2EH3JG
FOURSQUARE_SECRET=UAABFAWTIHIUFBL0PDC3TDMSXJF2GTGWLD3BES1QHXKAIYQB
FOURSQUARE_REDIRECT_URL=http://localhost:3000/auth/foursquare/callback

VENMO_ID=1688
VENMO_SECRET=uQXtNBa6KVphDLAEx8suEush3scX8grs
VENMO_REDIRECT_URL=http://localhost:3000/auth/venmo/callback

PAYPAL_ID=AdGE8hDyixVoHmbhASqAThfbBcrbcgiJPBwlAM7u7Kfq3YU-iPGc6BXaTppt
PAYPAL_SECRET=EPN0WxB5PaRaumTB1ZpCuuTqLqIlF6_EWUcAbZV99Eu86YeNBVm9KVsw_Ez5
PAYPAL_RETURN_URL=http://localhost:3000/api/paypal/success
PAYPAL_CANCEL_URL=http://localhost:3000/api/paypal/cancel

LOB_KEY=test_814e892b199d65ef6dbb3e4ad24689559ca

BITGO_ACCESS_TOKEN=4fca3ed3c2839be45b03bbd330e5ab1f9b3989ddd949bf6b8765518bc6a0e709

REDDIT_ID=--T0NBn2_7yZag
REDDIT_SECRET=tW14sH3OsJub3qdZp-7QzGVZAfA
REDDIT_CALLBACK_URL=http://localhost:3000/auth/reddit/callback